.bacimg {
    background:url(../images/center.png) no-repeat;
    background-size: auto;
    position: absolute;
    z-index: -2;
    transform: translate(650px, -140px);
    position: 40px;
    width: 580px;
    height: 780px;
}

.bacimg1 {
    background:url(../images/center1.png) no-repeat;
    background-size: auto;
    position: absolute;
    // z-index: -2;
    // transform: translate(650px, -140px);
    transform: translate(-39px);
    position: 40px;
    width: 780px;
    height: 780px; 
}


