.footer {
    background-color: #1B262F;
    transform: translateY(200px);

    .footer__pleace {
        width: 1440px;
        height: 200px;
        padding-bottom: 31px;
        // background-color: #1B262F;
    }

    & .footer__info {
        display: flex;
        padding-top: 81px;
        padding-left: 60px;
    }

    & .footer__logo {
        padding-top: 10px;
    }

    & .footer__list {
        display: flex;
        gap: 33px;
        align-items: center;
        padding-right: 600px;
    }

    .footer__link {
        color: #36536B;
        font-family: "Public Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .footer__images {
        // padding-top: 31px;
        transform: translateY(15px);
    }
}

@media only screen and (max-width:768px) {
       .footer {
           max-width: 768px;
           width: 100%;
           background-color: #1B262F;   
       }

  

    .footer__images {
        display: none;
    }

  .footer__images {
    display: none;
  }
}